body {
  background: black;
  color: white;
  margin: 2em;
}

button {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 1em;
  margin-bottom: 1em;
}

button:hover {
  cursor: pointer;
  background: rgb(69, 69, 69);
}

button:disabled {
  background: lightgray;
  cursor: not-allowed;
  pointer-events: none;
}

.loading {
  font-weight: bold;
  display:inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}